<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <a href="{%url 'addition'%}">Addition</a>
        <a href="{%url 'subtraction'%}">Subtraction</a>
        <a href="{%url 'multiplication'%}">Multiplication</a>
        <a href="{%url 'division'%}">Division</a>
        <a href="{%url 'factorial'%}">Factorial</a>
        <a href="{%url 'cube'%}">cube</a>
        <a href="{%url 'leapyear'%}">leapyear</a>
        <a href="{%url 'bmi'%}">BMI</a>
        <a href="{%url 'oddeven'%}">ODDorEVEN</a>
        <a href="{%url 'prime'%}">Prime</a>
        
    </div>
</body>
</html>